# 1. Ignorar tudo na raiz do projeto
/*

# 2. Permitir a existência da pasta Dryad (sem o conteúdo ainda)
!Dryad/

# 3. Ignorar tudo o que estiver DENTRO da pasta Dryad
Dryad/*

# 4. Abrir a exceção específica para subpastas
!Dryad/data/
!Dryad/Rasters/
!Dryad/scripts/
!Dryad/Vectors/

# 5. Manter ficheiros essenciais do projeto visíveis
!.gitignore
!paper_stacked_sdm.Rproj
!README.md
!LICENSE
