# 1. Ignorar todos os ficheiros e pastas na raiz
/*
/Results/*
/Results_old/*

# 2. Abrir uma exceção para a pasta 'Dryad'
# O '/' no final indica que é uma pasta
!Dryad/data/

# 3. Garantir que o próprio .gitignore e o projeto RStudio não desapareçam
!.gitignore
!*.Rproj

.Rproj.user
